<div class="row">
	<div class="col-sm-4 img">
		<img src="https://assets.currencycloud.com/wp-content/uploads/2018/01/profile-placeholder.gif" class="img-thumbnail">
	</div>
	<div class="col-sm-4">
		<ul class="list-group list-group-flush">
		  <li class="list-group-item">username: John Doe</li>
		  <li class="list-group-item">email address: johndoe@example.com</li>
		  <li class="list-group-item">bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis felis purus, sollicitudin a porta sed, rutrum a est. Proin in metus feugiat, vehicula ante id. </li>
		</ul>
		<a href="#">edit profile</a>
	</div>
	<div class="col-sm-4">
		<a href="#">see my storefront</a>
	</div>
</div>
