<div>
	<%= render partial: '/users/profile',
	    locals: {user: @user} %>
</div>

<% @portfolios.each do |portfolio| %>
	<div class="panel panel-default border">
		<%= render partial: '/users/portfolio', 
		    locals: {portfolio: portfolio} %>
	</div>
<% end %>

<div class="d-flex justify-content-center mt-3">
	<%= link_to 'Add a portfolio', user_submit_path, class: "btn btn-primary" %>
</div>
