<h1 style="color:gray"> Bounty Board Listings </h1>

<% @posts.each do |post| %>
    <div style="background-color:gray">
    <h2 style="color:grey"><%= link_to post.title, post %></h2>
    <h3 style="color:white"><%= post.content %></h3>
    </div>
<% end %>
<%= link_to "New Post", new_post_path %>