.navbar {
  border-bottom: 1px solid #85898e94;
  background-color: #080c2be6;
}

.below-navbar {
  padding-top: 80px;
}

body {
  background: linear-gradient(#21296b, #121212 50%);
  background-attachment: fixed;
  color: lightgray !important;
}

h1 {
  text-align: center;
  color: lightgray;
  font-family: lato;
}

h2 {
  text-align: center;
}

.nav-link a {
  color: lightgray;
  display: block;
}

.nav-link:hover a {
  color: white;
  text-decoration: none;
}

.form-inline {
  position: relative;
}

.image-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  position: absolute;
}

.search-btn {
  position: absolute;
  right: 0;
  width: auto;

  .btn:focus {
    background-color: black;
    outline: none;
    box-shadow: none;
    border: 1px solid transparent;
  }
}

.btn-group .btn.focus, .btn.active {
  outline: none;
  box-shadow: none;
}

.col-view.img-wrapper {
  max-height: 500px;
  overflow: hidden;
  min-height: 133px;
  background-color: transparent;
  border: 1px solid #85898e94;
  border-radius: .25rem;
  padding: .25rem;
  display: flex;
  align-items: center;
}

.img-overlay {
  opacity: 0;
  background-color: #00000099;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -.25rem;
  display: flex;
  align-items: flex-end;
  line-height: 1.4em;
  font-size: .9em;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;

  &:hover {
    opacity: 1;
  }

  div {
    position: absolute;
    padding: .5rem;
    bottom: 0;
    width: 100%;

    form {
      right: 10px;
      margin-top: .75rem;

      button {
        display: flex;
        padding-left: .5rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        background-color: #2742ccc7;
        color: lightgray;
        font-size: 1em;

        &:hover, &:active {
          background-color: #2742cc;
          color: white;
        }

        span {
          padding-left: .25rem;
        }
      }
    }
    p {
      white-space: nowrap;
      margin-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.col-view.img-wrapper img {
  width: 100%;
}

.grid-img-wide {
  height: 100%;
  width: auto;
  flex-basis: auto;
}

.grid-img-tall {
  width: 100%;
  height: auto;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#sortOptions {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  background-color: #181d4ced;
  padding: 1rem 0 .9rem 0;
  border-bottom: 1px solid #85898e94;
  border-radius: .25rem;
  z-index: 10;
}

/* forms */

.search-input.form-control, .search-input.form-control:focus {
  background-color: #e1f0ff1a;
  color: lightgray;
  border-color: #85898e94;
  padding-right: 5rem;
}

.search-input.form-control::placeholder {
  color: #d3d3d3a8;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: theme-color("danger");
    border-color: theme-color("danger");
  }
}


/*debug*/

/*$gray-medium-light: #eaeaea;*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: #f3f3f3;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 15px;
  @include box_sizing;
}