/*@import "bootstrap-sprockets";*/
@import "bootstrap";

body {
  padding-top: 60px;
}

h1 {
  text-align: center;
  padding: 10px;
}

.sticky-offset {
  top: 65px;
}

.nav-link a {
  color: lightgray;
  display: block;
}

.nav-link:hover a {
  color: white;
  text-decoration: none;
}

img {
  padding: 15px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

.form-inline .form-control {
  vertical-align: top;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: red;
  }
}


/*debug*/

/*$gray-medium-light: #eaeaea;*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: #f3f3f3;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 15px;
  @include box_sizing;
}