.navbar {
  border-bottom: 1px solid #85898e94;
  /*background-color: #080c2be6;*/
  background-color: #151619fa;
}

.below-navbar {
  padding-top: 80px;
}

.navbar-avatar {
  height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: .5rem;
}

body {
  /*background: linear-gradient(#21296b, #121212 50%);*/
  background-color: #232527;
  background-attachment: fixed;
  color: lightgray;
}

h1, h2, h3, h4, p, span, a, label, input, textarea, button, select {
  font-family: arial;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold; 
  display: inline-block;
}

hr {
  background-color: #85898e94;
}

a {
  color: #3695e8;

  &:hover, &:active, &:focus {
    color: #3ca4ff;
    text-decoration: none;
  }
}

.nav-link a {
  color: lightgray;
  display: block;
}

.nav-link:hover a {
  color: white;
  text-decoration: none;
}

.form-inline {
  position: relative;
}

.image-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  position: absolute;
}

.search-btn {
  position: absolute;
  right: 0;
  width: auto;

  .btn:focus {
    background-color: black;
    outline: none;
    box-shadow: none;
    border: 1px solid transparent;
  }
}

.btn.disabled {
  cursor: not-allowed;
}

.btn-group .btn.focus, .btn.active {
  outline: none;
  box-shadow: none;
}

.col-view.img-wrapper {
  max-height: 500px;
  overflow: hidden;
  min-height: 133px;
  background-color: transparent;
  border: 1px solid #85898e94;
  border-radius: .25rem;
  padding: .25rem;
  display: flex;
  align-items: center;
}

.img-overlay {
  opacity: 0;
  background-color: #00000099;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -.25rem;
  margin-top: -.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.4em;
  font-size: .9em;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;

  &:hover {
    opacity: 1;
  }

  a {
    padding: .5rem;
    position: relative;
    overflow: hidden;

    p {
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: .25rem;
      width: 95%;
      bottom: 0;
      color: lightgray;
    }
  }

  form {
    padding: 0 .5rem .5rem .5rem;
  }
}

.btn.dark-btn {
  display: flex;
  padding-left: .5rem;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #2742ccc7;
  color: lightgray;
  font-size: 1em;

  &:hover, &:active {
    background-color: #2742cc;
    color: white;
  }

  span {
    padding-left: .25rem;
  }
}

.col-view.img-wrapper img {
  width: 100%;
}

.grid-img-wide {
  height: 100%;
  width: auto;
  flex-basis: auto;
}

.grid-img-tall {
  width: 100%;
  height: auto;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#sortOptions {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  /*background-color: #181d4ced;*/
  background-color: #232527ed;
  padding: 1rem 0 .9rem 0;
  border-bottom: 1px solid #85898e94;
  border-radius: .25rem;
  z-index: 10;
}

/* forms */


.dark-text-input.form-control, 
.dark-text-input.form-control:focus {
  background-color: #3d3f43; 
  color: lightgray;
  border-color: #5b5f62;
  font-size: 1rem;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill::first-line {
    -webkit-text-fill-color: #f5f57f;
    -webkit-box-shadow: 0 0 0px 1000px #3d3f43 inset;
    font-size: 1rem;
  }

  &::placeholder {
    color: #d3d3d3a8;
  }

  &.search-input {
    padding-right: 5rem;
  }

  &[type=number]::-webkit-inner-spin-button {
    opacity: 0;
  }
}

.dark-input-group-text {
  background-color: #232527;
  color: gray;
  border-color: #5b5f62;
}

/*.dark-text-input:-webkit-autofill,
.dark-text-input:-webkit-autofill:hover, 
.dark-text-input:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
}*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  flex: 1;
  .form-control {
    color: theme-color("danger");
    border-color: theme-color("danger");
  }
}


/*debug*/

/*$gray-medium-light: #eaeaea;*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: #f3f3f3;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 15px;
  @include box_sizing;
}