* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  margin-top: 40px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.field {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tags_field {
  overflow: auto;
}

.tag-input {
  width: 10%;
}

.tag {
  display: flex;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
}

.price_range {
  display: flex;
  width: 50%;
  .price_low {
    margin-right: 10px;
  }
  .price_high {
    margin-left: 10px;
  }
}

.range_sign {
  display: block;
  border: 1px solid #566573;
  background-color: #566573;
  width: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}

.remove_tag {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.add_tag {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}

.actions {
  margin-top: 40px;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

.tag {
  color: black;
}

.portfolio_form {
  margin: 0, auto;
}

.portfolio {
  margin-bottom: 20px;
}


.info-overlay {
  margin: 15px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

a.portfolio-image:hover .info-overlay{
  opacity: 1;
  background-color: #00000099;
}

.show-image-container {
  position: relative;
}

.show-image {
  display: block;
  width: auto;
  height: 500px;
}

.show-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  display: flex;
  align-items: flex-end;
  color: lightgrey;
}

.show-info {
  bottom: 0;
  margin-left: 15px;
}

.show-image-container:hover .show-overlay {
  opacity: 1;
  background-color: #00000099;
}

.profile {
  display: inline-flex;
}


.avatar {
  margin-top: 10px;
}

.profile_info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username {
  display: flex;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.3px;
  line-height: normal;
  color: var(--D8);
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.email {
  margin: 2px 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.22;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
}

.profile_container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.avatar_show {
  margin-top: 10px;
  margin-right: 16px;
}

.info_container {
  width: 60%;
}

.title_container {
  margin-bottom: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title_show {
  margin: 0;
  font-weight: 800;
  line-height: 1.22;
  letter-spacing: 0.3px;
  font-size: 16px;
}

.author_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.details_container {
  margin-top: 20px;
}

.bio {
  display: flex;
}

.edit_bio {
  margin-left: 10px;
}

.inputfiles {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfiles + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
}

.inputfiles:focus + label,
.inputfiles + label:hover {
  background: #34404f;;
}

.preview-field {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
