<div id="sizer">
  <div class="d-block d-sm-none" data-size="xs"></div>
  <div class="d-none d-sm-block d-md-none" data-size="sm"></div>
  <div class="d-none d-md-block d-lg-none" data-size="md"></div>
  <div class="d-none d-lg-block d-xl-none" data-size="lg"></div>
  <div class="d-none d-xl-block" data-size="xl"></div>
</div>