<!-- MODAL (MOBILE/SMALL SCREEN) -->
<div class="modal fade" id="sortModal" tabindex="-1" role="dialog" aria-labelledby="sortModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="mSortOptions">
      <%= render 'm_sort_options' %>
    </div>
  </div>
</div>

<h1>Commission Marketplace</h1>
<div class="pt-3">
  <div class="flex-row align-items-center mb-2" id="sortOptions">
    <%= render 'sort_options' %>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mx-n2 mt-1">
    <% @hidden_images.each do |img| %>
      <%= render partial: 'home_image', 
        locals: { img: img, idx: idx, css_vis: 'visible', css_disp: 'none' } %>
    <% end %>

    <% @images.each_with_index do |img, idx| %>
      <%= render partial: 'home_image', 
        locals: { img: img, idx: idx, css_vis: 'hidden', css_disp: 'block' } %>
    <% end %>

    <div class="col px-2" id="col-0">
    </div>
    <div class="col px-2" id="col-1">
    </div>
    <div class="col px-2" id="col-2">
    </div>
    <div class="col px-2" id="col-3">
    </div>
  </div>
</div>
