<h1>Commission Marketplace</h1>

<div class="container">

  <!--reference: https://mdbootstrap.com/snippets/jquery/ascensus/127193-->

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

    <div class="col px-1">
      <div class="img-wrapper my-2">
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(58).jpg" class="img-fluid" alt="">
      </div>
      <div class="img-wrapper my-2">
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid" alt="">
      </div>
    </div>

    <div class="col px-1">
      <div class="img-wrapper my-2">
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(74).jpg" class="img-fluid" alt="">
      </div>
      <div class="img-wrapper my-2">
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(1).jpg" class="img-fluid" alt="">
      </div>
    </div>

    <div class="col px-1">
      <div class="img-wrapper my-2">
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" class="img-fluid" alt="">
      </div>
      <div class="img-wrapper my-2">
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(67).jpg" class="img-fluid" alt="">
      </div>
    </div>

    <div class="col px-1">
      <div class="img-wrapper my-2">
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(97).jpg" class="img-fluid" alt="">
      </div>
      <div class="img-wrapper my-2">
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" class="img-fluid" alt="">
      </div>
      <div class="img-wrapper my-2">
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(44).jpg" class="img-fluid" alt="">
      </div>
    </div>

  </div>

</div>
